body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#instructions {
    margin: 5 0;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#instructions>* {
    margin: 5 0;
}

#inputs {
    margin: 0 0 auto 0;
}

#button-instructions,
#review-instructions {
    display: block;
    max-width: 45vh;
}

#button-instructions>* {
    display: inline-block;
}

#review-inputs {
    margin: 10 0;
}

.review-input:nth-child(2n+0)>input {
    background-color: lightgray;
}

.review-input>* {
    margin: 5 5;
}

#new-line {
    display: block;
}

textarea {
    margin: 10 0;
    display: block;
    width: 40vh;
    min-height: 20vh;
    max-height: 20vh;
    resize: none;
    overflow: hidden;
}

#text-height {
    position: absolute;
    visibility: hidden;
    height: auto;
    overflow-wrap: break-word;
    width: 40vh;
}

@media screen and (max-width: 540px) {
    #instructions {
        height: 30vh;
    }
}